* {
    box-sizing: border-box;
}

.board {display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    width: 360px;
    height: 360px;
    outline: 1px solid black;
    background-image: url(./images/bg2.jpg);
}

.square {
    width: 40px;
    height: 40px;
}

.arrows {
    width: 9rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        '. up .'
        'left up right'
        'left down right'
        '. down .';
    gap: 0.3rem;
}

.arrows > button {
    width: 3rem;
    height: 3rem;
}

i {
    color: black;
    font-size: 2rem;
    pointer-events: none;
}

.arrow-up {
    grid-area: up;
}

.arrow-left {
    grid-area: left;
}

.arrow-right {
    grid-area: right;
}

.arrow-down {
    grid-area: down;
}

/* logs */

.log1,
.log2,
.log3 {
    background-color: #bd6d50;
    position: relative;
    background-image: url(./images/log40x40-2.jpg);

}

.car1 {
    background-repeat: no-repeat;
    background-position: center;
}

.car1.road-left {
    background-image: url(./images/red-car40x40-3.png);
}

.car1.road-right {
    background-image: url(./images/white-truck40x40-2.png);
}

.frog {
    background-image: url(./images/frog10.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: 100;
}