:root {
    // typography
    --ff: 'Kelly Slab', cursive;

    --fs-normal: 1.8rem;
    --fs-title: 3.5rem;
    --fs-button: 2.5rem;

    --fw-semiBold: 600;

    // colors
    --clr-dark-green: #073D0B;
    --clr-light-green: hsl(87, 56%, 77%);
    --clr-white: white;
    --clr-red: #d31c00;
    --clr-log-brown: #bd6d50;

    // box shadow color
    --clr-bs: hsla(124, 79%, 13%, 0.8);
}
